// Color Variables
$primary-color: #6CB2AE;
$secondary-color: #F7F0F5;
$background-color: #B2D1D2;
$text-color: #0D1821;

// Font Variables
$font-family: 'Montserrat';
$font-size-base: 16px;
$font-size-large: 20px;
$font-size-small: 14px;

// Spacing Variables
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 32px;